#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.animated-bg {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #62C3ED 30%, #403CF2 70%);
  background-size: 200% 200%;
  animation: GradientBackground 15s ease infinite;
}

.animated-error-bg {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(70deg, #ff00a8 30%, #ea0000 70%);
  background-size: 200% 200%;
  animation: GradientBackground 15s ease infinite;
}

.dashboard-bg {
  width: 100%;
  min-height: 100vh;
  background-color: #024767;
}

.dashboard-container-background {
  background-color: #ed8101;
}

@keyframes GradientBackground {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}




