.guideButton{
    background: #FF914D;
    border: solid 1px #FF914D;
    border-radius: 30px;
}

.guideButton:hover{
    background: #cf651c;
    border: solid 1px #cf651c;
}

.outlined-orange-button {
    background: transparent;
    border: solid 2px #FF914D;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

.outlined-orange-button:hover{
    background: #FF914D;
    border: solid 2px #FF914D;
    color: white;
}

.blue-button {
    background: #08bdff;
    border: solid 1px #08bdff;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

.blue-button:hover{
    background: #006893;
    border: solid 1px #006893;
    color: white;
}

.outlined-orange-input {
    background: transparent;
    border: solid 2px #FF914D;
    border-radius: 30px;
    color: white;
}

.outlined-orange-input::placeholder {
    color: #eaeaea;
}

.outlined-orange-input:focus {
    background: transparent;
    border: solid 2px #FF914D;
    border-radius: 30px;
    color: white;
}

.outlined-orange-select {
    background: transparent;
    border: solid 2px #FF914D;
    border-radius: 30px;
    color: white;
}

.sendIcon {
    background-color: #FF914D;
    border-radius: 50%;
    border: solid 1px #FF914D;
}

.finishIcon {
    background-color: #28d10e;
    border-radius: 50%;
    border: solid 1px #28d10e;
}
.sendIcon:hover {
    background: #cf651c;
    border: solid 1px #cf651c;
}

.top-back-button {
    background: transparent;
    border: none;
}

.top-back-button:hover {
    background: transparent;
    border: none;
    scale: 1.5;
}

.top-back-button:focus,
.top-back-button:active {
    background-color: transparent !important;
    outline: none;
    box-shadow: none;
}

.top-back-button:focus-visible {
    outline: none;
}

.top-back-button:active {
    -webkit-tap-highlight-color: transparent;
}

.login-input {
    background: rgba(168, 168, 168, 0.49);
    border-left: none;
    border-radius: 30px;
    color: white;
}

.login-input::placeholder {
    color: #ffffff;
}

.login-input:focus {
    background: rgba(168, 168, 168, 0.49);
    color: white;
    box-shadow: none;
    border-color: #ced4da;
    border-left: none;
}

.login-input-icon {
    background: rgba(168, 168, 168, 0.49);
    box-shadow: none;
    border-right: none;
    border-radius: 30px 0 0 30px;
}

.login-form-width {
    width: 400px;
}

.reset-password-form-width {
    width: 500px;
}

.bg-transition {
    background-size: 200% 100%;
    background-image: linear-gradient(to right, white 50%, #FF914D 50%);
    transition: background-position 0.6s ease;
}

.bg-transition.telegram-active {
    background-position: -100% 0;
}

.topbar-gradient-bg{
    background: linear-gradient(135deg, #62C3ED 30%, #403CF2 70%);
    background-size: 200% 200%;
    animation: GradientBackground 15s ease infinite;
}

.profile-picture {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.payment-method-button {
    background: #f5871f;
    transition: transform 0.3s ease;
    transform: scale(1);
}

.payment-method-button:hover {
    background: #f5871f;
    transform: scale(1.1);
}

.glowing-border {
    border: 2px solid #024767;
    box-shadow: 0 0 10px #024767;
    background: #024767;
    color: white;
    transition: background 0.5s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s;
    position: relative;
    overflow: hidden;
}

.glowing-border:hover {
    border: 2px solid #059de3;
    background: #059de3;
    color: white;
}

.hide-navbar {
    transform: translateX(-130%);
}

.show-navbar {
    transform: translateX(0);
}

.transition-all {
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .login-form-width {
        width: 80%;
    }
    .reset-password-form-width {
        width: 80%;
    }
    .profile-picture {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
    .hide-navbar + .spacer {
        width: 0;
    }
}
